<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
</head>

<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

  <h1>
    <%=title %>
  </h1>
  <form class="h-screen bg-red-400" action="/userSignUp" method="POST">
    <label>Full Name</label>
    <input type="text" name="name" placeholder="Enter your Name" />
    <label>Email</label>
    <input type="email" name="email" placeholder="Enter your Email" />
    <label>Password</label>
    <input type="password" name="pwd" placeholder="Enter your Password" />

    <button type="submit">Sign Up</button>
  </form>
</body>

</html>